:root{
  --mainblue: #3370F2 ;
  --darkblue:#364564  ;
  --darkGrey: #313134  ;
  --grey: #9F9FA3 ;
  --yellow: #D7F211 ;
  --red:#FF0023 ;
  --lightwhite: #E6EAF2;
}

*{
  margin:0 ;
  padding:0;
  outline: none;
  box-sizing:border-box ;
  font-family:Noto sans JP, sans-serif ;
}

body{
  width: 100%;
  height: auto;
  color: var(--darkblue);

}



/*top bar*/


p{
  font-size: 14px;

}

.label-cart{
  position:fixed ;
  top:15;
  right:10;
  z-index:4 ;
  color: var(--yellow);
  cursor:pointer ;
}

.logo{
  position:fixed;
  background: var(--darkblue);
  color: var(--lightwhite);
  width:100%;
  text-align:left ;
  padding:15px 420px 15px 60px;
  top: 0;
  z-index:2;
}




/*sidebar*/


.sidebar{
  position: fixed ;
  top: 0;
  left:0 ;
  width: 180px;
  height: 100%;
  background-color: var(--lightwhite);
  z-index: 1;
  padding-top: 100px;

}
.sidebar-menu{
  width: 100%;
  text-align: center;
  padding: 25px 15px;
  color: var(--darkblue);

}

.sidebar-menu > a{
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.1;
  color: var(--maincolor);
  padding: 10px;
}

.sidebar-menu:hover{
  border-right: 2px solid var(--red);
  color: var(--red);
}

.sidebar-menu > a:hover{
  border-right: 2px solid var(--maincolor);
  color: var(--red);
}




/*dashboard-banner*/


.dasdboard{
  height:100% ;
  width: 100%;
  padding-right:360px ;
  padding-left: 100px ;
}

.dashboard-banner > img{
  width: 100%;
  height:300px ;
  position:relative ;
  margin-top: 1.2rem;
  padding: 1rem;
  border-radius:30px;
  cursor: pointer ;
}

.dashboard-banner > img{
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 25px;
}

.banner-promo {
  position: absolute;
  color: var(--lightwhite);
  top: 25%;
  left: 17%;
  font-weight: 800;
}

.banner-promo> h1 > span{
  color: var(--yellow);
}



/*Dashboard-title*/

.dashboard-title {
  padding: 0 2rem;
  margin-left: 200px;
}

.dashboard-menu > a{
  display:flex;
  justify-content: space-around;
  gap:10px;
  padding:0.3rem 1rem;
  overflow-x:auto;
  display: inline-block;

}
.dashboard-menu{
  margin-left: 200px;
  margin-top: 50px;
}

.dashboard-menu > a {
  text-decoration: none;
  text-align:center;
  border-radius:20px;
  min-width:120px;
  padding:0.5rem 0;
  font-size:1.1rem;
  color: var(--darkblue);
  background-color: var(--lightGrey);
}

.dashboard-menu> a:hover{
  background-color: var(--darkblue);
  color: var(--lightwhite);
}

.dashboard-content{
  display: grid;
  margin-left: 200px;
  margin-top: 30px;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.dasdboard-card{
  background-color: var(--maincolor);
  box-shadow:rgba(0, 0, 0, 0.16) 4px 3px 8px ;
  border-radius: 15px;
  position: relative;
  cursor: pointer; 
}

.dashboard-card:hover {
      box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 14px;
}



.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 15px;
}

.card-detail {
  padding: 10px;
}

.card-detail > h4 > span{
  float: right;
}

.card-time {
  color: var(--darkblack);
  font-size: 0.8rem;
  padding-top: 10px;
}




/*dashboard-order Right*/


/*.dashboard-order{
  width:340px ;
  min-height:100% ;
  position:fixed ;
  top:0 ;
  right: 0;
  padding: 0.5rem 1.5rem;
  background-color: var(--grey);
  z-index: 3;
}

.dashboard-order > h3 {
  padding: 10px 0;

}

.order-address > h4 {
  line-height: 2;
}

.order-time {
  font-size:0.8rem;
  color: var(--darkblack);
}

.order-wrapper {
  padding-top: 200px;
  height: 180px;
  width: 100%;
  overflow-y: ;
  margin: 20px 0;
}
*/

/*custom scroll*/

/*
.order-wrapper: :-webkit-scrollbar{
  width: 7px;
}

.order-wrapper: :-webkit-scrollbar-track{
  background-color: var(--lightGrey);
  border-radius: 20px;

}

.order-wrapper::-webkit-scrollbar-thumb{
  background-color: var(--darkGrey);
  border-radius: 20px;
}

.order-card{
  display: grid;
  grid-template-columns:0.6fr 1fr 0.5fr;
  padding:10px 0;
  gap:5px ;
  justify-content: space-around;
  align-items: flex-start;
}

.order-image {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.order-detail >input {
  width: 35px;
  height:35px;
  text-align:center ;
  border:2px solid;
  border-radius:10px;
  background-color:transparent;
  margin-left:10px;

}

.divider {
  width: 100%;
  border: 1px dashed var(--grey);
}

.order-total > p {
  padding: 10px 0;
}

.order-total > p > span {
  float: right;
  font-weight: 600;
}




#cart {
  display: none;
}

#cart:checked ~ .label-cart{
  color: var(--lightGrey);
}

#cart:checked ~ .dasdboard{
  padding-right: 10px;
}

#cart:checked ~ .dasdboard-order{
  display: none;
}

#cart: checked ~ .logo{
  padding: ;
}*/



/*Photo text content main pain*/



.box-text{
  padding: 0 1rem;
  margin-left: 200px;
  margin-top: 50px;
}


.box{
   box-sizing: border-box;
   display: flex;
   border-radius: 20px;
   padding: 30px;
   align-content: center;
  transform:translate(-50%,-50%);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display:flex;
  margin-left: 800px;
  margin-top: 220px;
  width: 1000px;

}

.box img{
  border-radius: 10px;
}

.box p{
  margin-left: 30px;
  padding: 20px 0 0;
  text-align: justify;
  border-color: var(--grey);
  font-size: 16px;

}

.box1{
   box-sizing: border-box;
   display: flex;
   border-radius: 20px;
   padding: 30px;
   align-content: center;
  transform:translate(-50%,-50%);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display:flex;
  margin-left: 800px;
  margin-top: 100px;
  width: 1000px;

}

.box1 img{
  border-radius: 10px;
}


.box1 p{
  margin-left: 30px;
  padding: 20px 0 0;
  text-align: justify;
  font-size: 16px;
}

.box2{
   box-sizing: border-box;
   display: flex;
   border-radius: 20px;
   padding: 30px;
   align-content: center;
  transform:translate(-50%,-50%);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display:flex;
  margin-left: 800px;
  margin-top: 100px;
  width: 1000px;

}

.box2 img{
  border-radius: 10px;
}


.box2 p{
  margin-left: 30px;
  padding: 20px 0 0;
  text-align: justify;
  font-size: 16px;

}



/*Footer*/

.footer img{
  height:70% ;
  width:90%;
  margin-left: 160px;
  margin-right: px;
}






footer {
  background: #1e3161;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  box-shadow: #2f4374 0 10px 20px 5px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-left: 160px;
  margin-right: px;
}

.main {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
}
.col1 a:hover {
  color: #58bed5;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 20px;
}
.col3 ion-icon {
  font-size: 30px;
}
.social a:hover ion-icon {
  color: #5ac1d8;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.terms a {
  color: #7783a0;
}

