

.box{
   box-sizing: border-box;
   display: flex;
   border-radius: 20px;
   padding: 50px;
   align-content: center;
  transform:translate(-50%,-50%);
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  display:flex;
  margin-left: 500px;
  margin-top: 200px;
  width: 900px;

}

.box p{
  margin-left: 30px;
  padding: 20px 0 0;
  text-align: justify;
}



